.card-img-wrapper {
    position: relative;
    width: 100%; /* Ensure the wrapper takes the full width */
    height: 300px; /* Set a fixed height or adjust to your preference */
  }
  
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  
  .spinner {
    position: absolute;
    top: 47%;
    left: 47%;
  }
  