body, html, #root, .app-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.app-container {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 76px;
}