/* src/UploadPage.css */

.upload-card {
    max-width: 800px; /* Adjust the width as needed */
    width: 100%;
    padding: 20px;
    margin: 20px; /* Optional: Add margin if needed */
    display: flex;
  align-items: center;
  justify-content: center;
  }
  
.upload-card .card-title {
    margin-bottom: 20px;
  }
  
.btn-analyze {
  background: rgb(153,6,201);
  background-image: radial-gradient(
    circle farthest-corner at top left, rgba(59, 226, 255,1) 0%, rgba(225, 243, 97,0) 50%),
      radial-gradient(
      circle farthest-side at top right, rgba(181, 176, 177,1) 0%, rgba(181, 176, 177,0) 10%),
  radial-gradient(circle farthest-corner at bottom right, rgba(204, 104, 119,1) 0%, rgba(204, 104, 119, 0) 33%),
      radial-gradient(
      circle farthest-corner at top right, rgba(155, 221, 240,1) 0%, rgba(155, 221, 240,0) 50%),
    radial-gradient(ellipse at bottom center, rgba(192, 93, 245,1) 0%, rgba(254, 43, 0, 0) 80%);
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */

  /* Center the button with a flex container */
}

.btn-analyze:hover {
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.btn-analyze:focus {
  outline: none;
}
